body
    margin: 0
    padding: 0
    font-family: 'Helvetica'
    height: 100%
    background-size: 100%
    background-image: url('../images/saltlake.jpg')
    background-position: center center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    background-color: #999

.root
    display: flex
    justify-content: center

.weather--list--container
    width: 879px


.weather--list--item
    list-style-type: none
    border: 2px solid white
    color: white
    background-color: rgba(255, 255, 255, 0.7)
    margin-bottom: 5px
    border-radius: 4px
    color: black
    display: flex
    flex-direction: column